/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    font-family: 'Comfortaa', cursive;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

input, input[type="submit"], select {
    font-family: 'Comfortaa', cursive;
}

select {
    font-size: 1rem;
    padding: 10px 20px;
    border-radius: 30px;
    border: 2px solid #26467E;
}

::placeholder {
    color:#A39D8F;
}

.container {

}

.img_header {
    width:100%;
}

.signature {
    color:#26467E;
    text-align: center;
}

.radioVillageois, .radioSoldat, .radioMagicien {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radioVillageois {
    color:#54D195;
}

.radioSoldat {
    color:#90BC42;
    padding:0 50px;
}

.radioMagicien {
    color:#9376E2;
}

/* HIDE RADIO */
[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
    cursor: pointer;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
    outline: 2px solid #26467E;
}

.namePlayer {
    border: 2px solid #26467E;
    padding: 10px 80px 10px 20px;
    border-radius: 30px;
    font-size: 1rem;
}

.div_choisirPerso {
    padding:20px 0;
}

.span_choisirPerso {
    font-weight: 700;
    color:#A39D8F;
    font-size: 1rem;
}

.listeTypes {
    display:flex;
    padding-top:20px;
}

.addForm, .fightForm, .deleteForm, .backMenu, .nextStage {
    border: 2px solid #26467E;
    padding: 10px 50px;
    border-radius: 30px;
    font-size: 1rem;
    background:#26467E;
    color:white;
    transition: all 0.2s ease;
}

.addForm:hover, .fightForm:hover, .deleteForm:hover, .backMenu:hover, .nextStage:hover {
    background:#FFF;
    color:#26467E;
    cursor:pointer;
}

.backMenu, .nextStage {
    margin:0 20px;
}

.listForms {
    display: flex;
    align-items: center;
    justify-content: center;
    padding:40px 0;
}

.span_radioType {
    padding-top:15px;
}

.fight_delete_form {
    margin-left: 100px;
}

.fightFormulaire, .deleteFormulaire {
    padding:20px 0;
}

.span_vs {
    font-weight: 700;
    font-size: 1.5rem;
}

.deleteFormulaire {
    display: flex;
    justify-content: space-between;
}

h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color: #26467E;
    margin-top: 40px;
}

.div_fight {
    display: flex;
    justify-content: center;
}

.div_opponent {
    display:flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 50px 30px 50px;
}

.opponentName {
    padding: 20px 0px;
}

.opponentDmg {
    font-size: 1.2rem;
    font-weight: 700;
    color: #d91e18;
    text-align: center;
    padding: 10px 0;
}

.opponentDead {
    text-align: center;
    color: #d91e18;
    font-weight: 700;
    margin: 20px 0;
    font-size: 1.2rem;
}

.fightMenu {
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
}

.errorOpponents {
    display: flex;
    justify-content: center;
    margin: 30px 0;
}

.errorOpponents > p {
    color: #d91e18;
    border:2px solid #d91e18;
    border-radius:30px;
    text-align:center;
    padding: 15px 50px;
    font-size: 1.2rem;
}